@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.style1 {
  background-size: contain;
  background-repeat: no-repeat;
}
.marginss {
  margin-left: 20%;
}
.marginss2 {
  margin-left: -70%;
}
.Image .style3 {
  position: absolute;
  top: 0;
  color: #000;
}

.image1 {
  background-image: url("/Mask Group 2.png");
  background-repeat: no-repeat;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.btn-black {
  @apply text-white bg-black font-mulish font-bold text-base px-7 rounded-sm+;
}

.triangle-tr {
  @apply w-0 h-0 ml-auto;
  border-top: 8px solid #000;
  border-left: 8px solid transparent;
}

.slider {
  @apply h-96 !important;
}

.mobile-nav {
  @apply bg-lightGray absolute p-4 top-16 right-14 mt-4 shadow-md z-10 h-fit rounded-sm+ gap-5 flex flex-col items-center min-w-52;
}
